:root {
    --color-logo: #000000;
    --color-header-card: #ffffff;
    --color-section: #E5E5E5;
    --color-blue: #2196F3;
    --color-accent-hover: #188CE8;
    --color-text: #757575;
    --color-hero: #2F303A;
    --color-title: #212121;
    --color-team-card: #F5F4FA;
    --color-work-card: #EEEEEE;
    --color-transparent: rgba(255, 255, 255, 0.6);
    --color-shadow-one: rgba(0, 0, 0, 0.1);
    --color-shadow-two: rgba(0, 0, 0, 0.08);
    --color-shadow-three: rgba(0, 0, 0, 0.12);
    --color-shadow-four: rgba(0, 0, 0, 0.15);

    --font-bold: bold;
    --font-middle: 500;
    --font-large: 900;

    --font-size-min: 14px;
    --font-size-mid: 16px;
}

h1,
h2,
h3,
p,
ul {
list-style: none;
padding: 0;
margin: 0;
}

.hidden {
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden; 
}

.container {
 margin-left: auto;
 margin-right: auto;
 width: 1200px;
 outline: 2px solid tomato;
}

.section {
padding-top: 94px;  
padding-bottom: 94px;
text-align: center;
  }

/* body-style */
.body {
background: var(--color-section);
font-family: Roboto, sans-serif;
letter-spacing: 0.03em;
}

/* header-style */
.body-header.container {
background-color: var(--color-header-card);
}

.main-body {
display: flex;
align-items: center; 
}

.logo {
font-family: Raleway, sans-serif;
font-weight: var(--font-bold);
font-size: 26px;
line-height: 1.2;

margin-right: 93px;

color: var(--color-logo);
text-decoration: none;
width: 145px;
height: 31px;
}

.span-blue {
color: var(--color-blue);
}

/* nav */
.site-nav,
.auth-nav {
display: flex;
align-items: center;
}

.site-nav .nav-list:not(:last-child) {
 margin-right: 50px; 
}

.link {
display: block;
padding-top: 32px;
padding-bottom: 32px;

color: var(--color-title);
font-weight: var(--font-middle);
font-size: var(--font-size-min);
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus 
{
color: var(--color-blue);
}

.site-nav .link.current {color: var(--color-blue);
}

.auth-nav .link {
color: var(--color-text);
font-weight: var(--font-middle);
font-size: var(--font-size-min);
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}

.auth-nav {
 display: flex; 
 margin-left: auto;
 margin-right: 215px;
}

.auth-nav .nav-list:not(:last-child) {
 margin-right: 50px; 
}

.auth-nav .link:hover,
.auth-nav .link:focus
{
color: var(--color-blue);
}

/* hero */
.hero,
.footer {
  background-color: var(--color-hero);
}

/* .hero {
position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px; 
} */
/* .about.hero {
text-align: center;
margin-bottom: 94px;
} */
.hero {
padding-top: 200px;
padding-bottom: 200px;
text-align: center;
margin-bottom: 94px;
}


.hero-title {
color: var(--color-header-card);
font-weight: var(--font-large);
font-size: 44px;
line-height: 1.36;

letter-spacing: 0.06em;
text-transform: uppercase;

margin-top: 0;
margin-bottom: 30px;
}

.hero-btn {
display: inline-block;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

border-style: none;
border-radius: 4px;
padding: 10px 32px;
min-width: 200px;

background-color: var(--color-blue);
color: var(--color-header-card);
cursor: pointer;
font-weight: var(--font-bold);
font-size: var(--font-size-mid);
line-height: 1.88;
}

.hero-btn:hover,
.hero-btn:focus {
background-color: var(--color-accent-hover);
box-shadow: 0px 4px 4px var(--color-shadow-four);
}

/* benefits */
.about.container{
width: 1170px;
margin-bottom: 94px;}

.about-item  {
display: flex;
flex-wrap: wrap;
margin-left: -10px;
margin-top: -10px;

padding: 0;
}

.item {
  padding: 20px;
  margin-top: 10px;
  margin-left: 10px;
  flex-basis: calc((100% - 40px) / 4);
} 

.about-title {
font-weight: var(--font-bold);
font-size: var(--font-size-min);
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 10px;
}

.about-text {
color: var(--color-text);
font-size: var(--font-size-min);
line-height: 1.71;
}

/* work */
.work-title {
font-weight: var(--font-bold);
font-size: 36px;
line-height: 1.16;
text-align: center;
margin-bottom: 50px;    
}

.sections {
display: flex;
flex-wrap: wrap;
margin-left: -10px;
margin-top: -10px;
padding: 0;
}

.our-works {
padding: 10px;
margin-left: 10px;
margin-top: 10px;
flex-basis: calc((100% - 30px) / 3);  
}

/* our teame */
.section .teame {
text-align: center;
}

.our {
display: flex;
flex-wrap: wrap;
margin-left: -10px;
margin-top: -10px;
padding: 0;
}

.person {
padding: 20px;
margin-top: 10px;
margin-left: 10px;
flex-basis: calc((100% - 40px) / 4);  
}

.teame {
background-color: var(--color-team-card);
}

.teame-img {
font-weight: var(--font-middle);
font-size: var(--font-size-mid);
line-height: 1.18;    
}

.teame-list {
font-size: var(--font-size-mid);
line-height: 1.18;
color: var(--color-text);    
}

/* footer */
.footer-white {
color: var(--color-header-card);
font-family: Raleway, sans-serif;
font-weight: var(--font-bold);
font-size: 26px;
line-height: 1.2;
}

.footer .footer-text {
color: var(--color-header-card);
font-style: normal;
font-size: var(--font-size-min);
line-height: 1.7;
}

.footer .link {
color: var(--color-transparent);
font-style: normal;
font-size: var(--font-size-min);
line-height: 1.7;
text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
    color: var(--color-blue);
}

/* portfolio-style */
.filter .filter-list{
display: inline-block; 
align-items: center;
margin-bottom: 50px;
}

.filter .filter-list:not(:last-child) {
 margin-right: 8px; 
}

.portfolio-btn {
background-color: var(--color-team-card);
color: var(--color-title);
cursor: pointer;
border-radius: 4px;
border-style: none;
padding: 6px 22px;

font-weight: var(--font-middle);
font-size: var(--font-size-mid);
line-height: 1.6;
text-align: center;
}

.portfolio .all {
min-width: 73px; 
}

.portfolio .web {
min-width: 128px;
}

.portfolio .app {
min-width: 145px;
}

.portfolio .dsn {
min-width: 59px;
}

.portfolio .mark {
min-width: 86px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
background-color: var(--color-blue);
color: var(--color-header-card);
background: #2196F3;
box-shadow: 0px 3px 1px var(--color-shadow-one), 0px 1px 2px var(--color-shadow-two), 0px 2px 2px var(--color-shadow-three);
border-radius: 4px;
}

.projects {
display: block;
margin-right: 30px;
margin-bottom: 30px;
} 

.projects:nth-child(3n) {
margin-right: 0px;

/* flex-basis: calc((100% - 90px) / 9);   */
}

.projects:nth-last-child(-n + 3) {
margin-bottom: 0;  
}

/* font-style */
.portfolio-title {
font-weight: var(--font-bold);
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;    
}

.portfolio-text {
font-size: var(--font-size-mid);
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--color-text);
}
